<div class='login'>
    <h2>Register</h2>
    <input name='username' placeholder='Username' type='text'>
    <input id='pw' name='password' placeholder='Password' type='password'>
    <input name='email' placeholder='E-Mail Address' type='text'>
    <div class='agree'>
      <input id='agree' name='agree' type='checkbox'>
      <label for='agree'></label>Accept rules and conditions
    </div>
    <input class='animated' (click)="addReg()" type='submit' value='Register'>
    <span><a class='forgot'>Have already an account </a> <a class='forgot' href='#/dashboard/authe/login'>Login</a></span>
  </div>